body {
    background-color:lightblue;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    color:blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

